/target
/gdv-xport.ws
/release.properties
/pom.xml.releaseBackup
/target-eclipse
/dependency-reduced-pom.xml
/gdv-xport.log
/.idea/
/gdv-xport.iml
lib/gdv-xport.iml
lib/target/
lib/gdv-xport-lib.iml
/service/gdv-xport-service.iml
