/target
/gdv-xport.ws
/release.properties
/pom.xml.releaseBackup
/target-eclipse
/dependency-reduced-pom.xml
/gdv-xport.log
**/target/
lib/gdv-xport-lib.iml
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse IDE ###
bin
.settings
.classpath
.project
/lib/logs/
