<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
    <JDBC name="DB" tableName="LOGGING.APPLICATION_LOG">
      <ConnectionFactory class="gdv.xport.config.Config"
                         method="getConnection" />
      <Column name="EVENT_DATE" isEventTimestamp="true" />
      <Column name="LEVEL" pattern="%level" />
      <Column name="LOGGER" pattern="%logger" />
      <Column name="MESSAGE" pattern="%message" />
      <Column name="THROWABLE" pattern="%ex{full}" />
    </JDBC>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="Console" />
    </Root>
    <logger name="gdv.xport" level="INFO" />
    <logger name="gdv.xport.satz" level="INFO" />
    <logger name="gdv.xport.Datenpaket" level="INFO" />
    <logger name="gdv.xport.util" level="INFO" />
    <Root level="ERROR">
      <AppenderRef ref="CONSOLE" />
    </Root>
  </Loggers>
</Configuration>
