<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout" >

<head>
    <title>Validierung</title>
</head>

<body>
    <div class="container">
        <h1 layout:fragment="header">Global Header</h1>
        <div layout:fragment="content">
            <h1>Formattierung</h1>
            <p>
                Hier&uuml;ber k&ouml;nnen Sie bestehende GDV-Datens&auml;tze in verschiedenen Formaten ausgeben lassen.
            </p>
            <div class="panel-body">
                <!-- URI formattieren -->
                <form id="inputURI" action="#" th:action="@{/api/v1/Datenpaket}" method="get">
                    <div class="form-group">
                        <label class="control-label" >URI:</label>
                        <input type="text" class="form-control" title="URI" name="uri"
                               value="http://www.gdv-online.de/vuvm/musterdatei_bestand/musterdatei_041222.txt" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Format:</label>
                        <select class="form-control" title="Format-Typ" name="format">
                            <option>HTML</option>
                            <option>XML</option>
                            <option>CSV</option>
                            <option>JSON</option>
                            <option>TEXT</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-default" href="format.html" th:href="@{/format}">Abbrechen</a>
                        <button type="submit" class="btn btn-primary">Senden</button>
                    </div>
                </form>
                <!-- Text formattieren -->
                <form id="inputText" action="#" th:action="@{/api/v1/Datenpaket}" method="post">
                    <div class="form-group">
                        <label class="control-label">Text:</label>
                        <!-- TODO: hier muessen wir noch die Textarea als Body und nicht als Parameter schicken -->
                        <textarea class="form-control" title="Datenpaket" name="text">0001HelloWorld                         Test-Adressat                 1302201413022014845/6666662.12.12.2                                                            1.41.4                                                      1.1                            1
0001HelloWorld                         Test-Adressat                 1302201413022014845/666666                           1.2                        1.2                           1.2                                                                         2
0001HelloWorld                         Test-Adressat                 1302201413022014845/666666                                                                                                                                                                3
99990000000000845/66666600000000000000000000000000000+00000000000000+00000000000000+00000000000000+
</textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Format:</label>
                        <select class="form-control" title="Format-Typ" name="format">
                            <option>HTML</option>
                            <option>XML</option>
                            <option>CSV</option>
                            <option>JSON</option>
                            <option>TEXT</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-default" href="format.html" th:href="@{/format}">Abbrechen</a>
                        <button type="submit" class="btn btn-primary">Senden</button>
                    </div>
                </form>
                <!-- Datei formattieren -->
                <form id="formatFile" th:action="@{/api/v1/Datenpaket/uploaded}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label" >Datei:</label>
                        <input type="file" name="file" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Format:</label>
                        <select class="form-control" title="Format-Typ" name="format">
                            <option>HTML</option>
                            <option>XML</option>
                            <option>CSV</option>
                            <option>JSON</option>
                            <option>TEXT</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-default" href="validate.html" th:href="@{/format}">Abbrechen</a>
                        <button type="submit" class="btn btn-primary" value="Upload">Senden</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
